<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="dark-mode">
<div class="center">
    <h1>Link Shortener</h1>
    <p id="counter">Put in a link to make it shorter.</p>
    <form action="/link" method="post">
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <input type="text" name="uri" placeholder="Put in a url">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
    </form>
    <p>Put in a link to turn it into a lonk.</p>
    <form action="/lonk" method="post">
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <input type="text" name="uri" placeholder="Put in a url">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
    </form>
    <p>Put in a link to make it sketchier.</p>
    <form action="/sketchy" method="post">
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <input class="textWhite" type="text" name="uri" placeholder="Put in a url">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
    </form>
    <p class="container <%= showUrl %>>">Your url is: <br> <%= url %></p>
</div>
</body>
</html>